body {
    background-color: #333;
    color: #fff;
    font-family: sans-serif;
    font-size: 5rem;
}

.wrapper {
    padding: 50px;
    min-height: 100%;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.title {
    text-align: center;
}




/* ====================================================== */

.container {
    position: relative;
}
.title::before {
    content: '';
    display: block;
    position: absolute;
    left: 15%;
    background: #fa3939;
    border: 5px solid #fff;
    border-radius: 100%;
    height: 80px;
    width: 80px;
}
.title::after {
    content: '';
    display: block;
    position: absolute;
    right: 15%;
    top: 0;
    background: #4913f9;
    border: 5px solid #fff;
    border-radius: 100%;
    height: 80px;
    width: 80px;
}
