body {
    background: #262628;
}

.text {
    color: #ffffff;
}

.inner {
    display: flex;
    position: relative;
    height: 100%;
    z-index: 1;
}

.block-white {
    background: #ffffff;
    width: auto;
    height: 100px;
    border-radius: 25px;
    position: fixed;
    left: 50%;
    right: 50px;
    bottom: 100px;
}

.circle {
    width: 100px;
    height: 100px;
    background: #ff0303;
    border-radius: 100px;
    position: relative;
    bottom: 50px;
    left: 100px;
}